
/*--//My personal css--*/
 .head{
      margin-bottom:0!important;
      margin-top:10px;border:2px solid green;
      border-radius:6px;
  }
#Regform input[type="text"],input[type="password"],input[type="submit"]{
    border-radius:0 !important;
    width: 100%;
    /*padding:.9em 0.5em;*/
    background: transparent;
    border: 2px solid green;
    color: #212121;
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
}
#Regform input[type="text"]:focus,input[type="password"]:focus{
    border-color:#fb5710;
}
#Regform input[type="submit"]{
    background-color:green;
    color:white;
}
#Regform input[type="submit"]:hover{
    background:yellow;
    border:2px solid green;
    color:green;

}#Regform input[type="email"]{
    border:2px solid green;
    color:green;
     border-radius: 0px;

}

 #Regform select{
     border:2px solid green;
     color:green;
     border-radius: 0px;
 }
input[type="number"]{
    border:2px solid green;
    color:green;
    border-radius: 0px;
    text-align: center;
}
input[type="number"]:focus{
    border:2px solid yellow;
    color:green;
    border-radius: 0px;
}

.form_element{
    border:2px solid green;
    color:green;
    border-radius: 0px;
    text-align: center;
}

.addon_size{
    width: 38px !important;
    height: 46px!important;
}

#Regform select
{
    border:2px solid green;
    color:green;
    border-radius: 0px;
}
.acct h5{
    color:#000000;
}
.acct h5 b:hover{
   border:1px solid red;
    padding: 3px;
    border-radius:4px;
}
/*--//My personal css--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3ls_services_grid,.w3ls_footer_grid_leftr h4,.w3ls_footer_grid_leftl
{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
 }
/*-- header --*/
.header{
	padding:.5em 0;
}
.w3_agile_logo{
	float:left;
}
.w3_agile_logo h1 a{
	font-size: .6em;
    color: #212121;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.w3_agile_logo h1 a span{
	font-size: 2em;
    color: #21d0e7;
    text-shadow: 0px 3px 1px #1988ad;
}
.agile_header_social{
	float:right;
	margin: 0.6em 0 0;
}
.agileits_social_list li{
	display:inline-block;
}
.agileits_social_list li a{
	width: 30px;
    height: 30px;
    color: #212121;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border:2px solid green;
    border-radius: 25px;
}
.agileits_social_list li a i{
	line-height:2.4em;
}
.agileits_social_list li a:hover{
	color:#fff;
}
a.w3_agile_facebook:hover{
    background:green;
    border-color:yellow;
}
a.agile_twitter:hover{
    background:green;
    border-color:yellow;
}
a.w3_agile_dribble:hover{
    background:green;
    border-color:yellow;
}
a.w3_agile_vimeo:hover{
    background:green;
    border-color:yellow;
}
.header_address_mail{
	background-color: rgba(255, 255, 0, 1);
}
.agileits_w3layouts_header_address_grid{
	float:right;
}
.agileits_w3layouts_header_address_grid ul li{
	display:inline-block;
	color:#fff;
	font-weight:600;
	padding:.5em 1em;
	float:left;
}
.agileits_w3layouts_header_address_grid ul li:nth-child(1){
	margin:1em 0 0;
}
.agileits_w3layouts_header_address_grid ul li:nth-child(2),.agileits_w3layouts_header_address_grid ul li:nth-child(3){
	color: #fff;
    background:#fb5710;
    font-size: 1.5em;
}
.agileits_w3layouts_header_address_grid ul li a{
	text-decoration:none;
	color:green;
	display:block;
}
.agileits_w3layouts_header_address_grid ul li a:hover{
	color:#606f6f;
}
.agileits_w3layouts_header_address_grid ul li:nth-child(3){
    background:#606f6f;
}
/*-- //header --*/
/*-- banner --*/
.banner{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.banner1{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	position:relative;
}
/*-- nav --*/
.navbar-right {
    float: none !important;
    padding: 0;
    margin: 1em 0 0 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-collapse {
    box-shadow: none;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color:white;
}
.navbar-nav > li > a {
    padding:.7em 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover{
    color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:white;
    background: green;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#212121;
    background: none;
}
.navbar-default .navbar-nav > li > a:hover{
    color:white;
}
.navbar-nav {
    margin: 0.5em 0 0;
}
.agile_short_dropdown {
    border-radius: 0;
    background: green;
    text-align: center;
    padding: 0;
    border: none;
}
.agile_short_dropdown li a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: .8em 0;
    background:yellow;
    color:green;
}
.agile_short_dropdown > li > a:hover {
    color: green;
    text-decoration: none;
    background:yellow;
    border:2px solid green;
}
.w3_agileits_search_form{
	float: right;
    width: 30%;
}
.w3_agileits_search_form input[type="search"]{
	outline: none;
    padding: 10px;
    width: 83.7%;
    background: #f5f5f5;
    font-size: 14px;
    color: #212121;
    border: 1px solid #c5c3c3;
}
.w3_agileits_search_form input[type="submit"]{
	outline: none;
    padding: 9.4px 0;
    width: 15%;
    background:url(../images/search.png) no-repeat 16px 11px #f5f5f5;
    border: 1px solid #c5c3c3;
}
.w3_agile_nav a {
    margin: 0 .5em;
    overflow: hidden;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}
.w3_agile_nav a span::before {
  width: 100%;
  height: 2px;
  background:whitesmoke;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.w3_agile_nav a span::after {
  width: 100%;
  height: 2px;
  background:whitesmoke;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  -moz-transition: 0.1s 0.2s;
  -o-transition: 0.1s 0.2s;
  -webkit-transition: 0.1s;
  -webkit-transition-delay: 0.2s;
  transition: 0.1s 0.2s;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.w3_agile_nav a::before {
  width: 2px;
  height: 100%;
  background:whitesmoke;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: 0.1s 0.3s;
  -o-transition: 0.1s 0.3s;
  -webkit-transition: 0.1s;
  -webkit-transition-delay: 0.3s;
  transition: 0.1s 0.3s;
}

@media screen and (max-width: 991px) and (min-width: 768px)  {
    #col-hack {
        height: 270px;
    }
    #col-hack div.panel {
        height: 93%;
    }
}
@media screen and (min-width: 768px)  {
    .carousel-inner{
        height: 442px!important;
    }

    #ImageCarousel{
        height: 442px!important;
    }
}
@media screen and (max-width: 400px)  {

    #ImageCarousel{
        height: 190px!important;
    }
    .logo_name{
        font-size: small;
    }
}

.w3_agile_nav a::after {
  width: 2px;
  height: 100%;
  background:whitesmoke;
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: 0.1s 0.1s;
  -o-transition: 0.1s 0.1s;
  -webkit-transition: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition: 0.1s 0.1s;
}
.w3_agile_nav a:hover {
  color: white;
}
.w3_agile_nav a:hover::before, .w3_agile_nav a:hover::after,.w3_agile_nav li.active a::before, .w3_agile_nav li.active a::after {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.w3_agile_nav a:hover span::before, .link-effect-12 a:hover span::after,
.w3_agile_nav li.active a span::before, .w3_agile_nav li.active a span::after{
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.agile_short_dropdown li a:before,.agile_short_dropdown li a:after{
	display:none;
}
.agile_short_dropdown li a{
	margin:0;
}
/*-- //nav --*/
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom{
	padding:3em 0;
	background:#f5f5f5;
	position: relative;
}
.w3layouts_banner_bottom_left p h4{
	font-size: 1.3em;
    color: #212121;
    line-height: 1.8em;
    text-transform: capitalize;
}
.w3_banner_bottom_pos{
	position: absolute;
    bottom:0%;
    right: 14%;
    width: 30%;
    padding: 2em;
    background: #21d0e7;
}
.w3_banner_bottom_pos h2{
	font-size: 1.2em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    letter-spacing: 5px;
}
.w3_banner_bottom_pos h4{
	font-size: .8em;
    color: #0b7482;
    text-transform: uppercase;
    margin-bottom: 1em;
    letter-spacing: 2px;
}
.w3_banner_bottom_pos select {
    color: #212121;
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-weight: 600;
}
select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
input.text_box {
    border: 1px solid #ccc;
    padding: 8px 10px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    font-size: 14px;
    color: #212121;
    font-weight: 600;
}
.w3_agileits_section_room {
    border: 1px solid #ccc;
    float: left;
    width: 48%;
}
.bath{
    float: left;
    width: 48%;
}
.bath:nth-child(5),.w3_agileits_section_room:nth-child(2) {
    margin-left: 1em;
}
.agileits_w3layouts_book_section_single,.wthree_range_slider{
    margin: 1.2em 0;
}
input#amount {
    color: #212121;
    font-size: 1em;
    margin-top: 1.5em;
    outline: none;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}
.w3_banner_bottom_pos input[type="submit"]{
	width: 100%;
    outline: none;
    background: #fb5710;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
}
.w3_banner_bottom_pos input[type="submit"]:hover{
	background:#212121;
}
/*-- //banner-bottom --*/
/*-- services --*/
.services,.skills,.newsletter{
	padding:5em 0;
}
.w3layouts_header{
	text-align:center;
}
.w3layouts_header p{
	font-size:2em;
	color:green;
	position:relative;
}
.w3layouts_header p:before,.w3layouts_header p:after{
	content: '';
    background: #212121;
    height: 2px;
    width: 5%;
    position: absolute;
    top: 65%;
}
.w3layouts_header p:before{
	left:41%;
}
.w3layouts_header p:after{
	right:41%;
}
.w3layouts_header p span:before,.w3layouts_header p span:after{
	content: '';
    background: #212121;
    height: 2px;
    width: 7%;
    position: absolute;
    top: 35%;
}
.w3layouts_header p span:before{
	left:38%;
}
.w3layouts_header p span:after{
	right:38%;
}
.w3layouts_header h5{
	margin: 1em 0 0;
    color: green;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.w3layouts_header h5 span{
	color:#212121;
}
.w3_services_grids{
	padding:1em 0 0;
}
.w3l_services_grid{
	margin:2em 0 0;
}
.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7{
    min-height: 230px;
    padding: 1em;
}
.agileits_services_grid3, .agileits_services_grid4{
    min-height: 340px;
    padding: 1em;
}
.w3l_services_grid:hover .w3ls_services_grid{
	opacity:.8;
}
.agileits_services_grid{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #10b5fb;
}
.agileits_services_grid1{
	background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #21e790;
}
.agileits_services_grid2{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #e72121;
}
.agileits_services_grid3{
	background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #a821e7;
}
.agileits_services_grid4{
	background: url(../images/5.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #fbb810;
}
.agileits_services_grid5{
	background: url(../images/9.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #10b5fb;
}
.agileits_services_grid6{
	background: url(../images/10.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #e72121;
}
.agileits_services_grid7{
	background: url(../images/11.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	border-bottom:3px solid #21e790;
}
.w3ls_services_grid{
	position:relative;
}
.agile_services_grid1_sub {
    text-align: right;
}
.agile_services_grid1_sub p {
    background: #10b5fb;
    padding: 0.2em .5em;
    color: #fff;
    display: inline-block;
    font-weight: 600;
}
.agileinfo_services_grid_pos{
	position: absolute;
    bottom: -10%;
    left: 42%;
    width: 50px;
    height: 50px;
    background: #10b5fb;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
}
.agile_services_grid_pos2,.agile_services_grid_pos3 {
    left: 46% !important;
    bottom: -8% !important;
}
.agileinfo_services_grid_pos i{
	font-size: 1.5em;
    color: #fff;
    line-height: 1.8em;
}
.wthree_service_text{
	text-align: center;
    padding: 2.5em 2em 2em;
    background: #f5f5f5;
}
.wthree_service_text h3{
	font-size:1.1em;
	color:#212121;
	text-transform:capitalize;
	letter-spacing:2px;
}
.wthree_service_text ul li {
    display: inline-block;
    color:#fb5710;
}
.wthree_service_text ul li:last-child{
	font-weight:600;
	color:#999;
}
.wthree_service_text h4{
	font-size:.9em;
	text-transform:capitalize;
	margin:.5em 0 1em;
}
.w3_agileits_service{
	color:#10b5fb;
}
.w3_agileits_service1{
	color:#21e790;
}
.w3_agileits_service2{
	color:#e72121;
}
.w3_agileits_service3{
	color:#a821e7;
}
.w3_agileits_service4{
	color:#fbb810;
}
.agileits_w3layouts_ser_sub p,.agile_services_grid_pos{
	background:#21e790;
}
.agileits_w3layouts_ser_sub1 p,.agile_services_grid_pos1{
	background:#e72121;
}
.agileits_w3layouts_ser_sub2 p,.agile_services_grid_pos2{
	background:#a821e7;
}
.agileits_w3layouts_ser_sub3 p,.agile_services_grid_pos3{
	background:#fbb810;
}
/*-- //services --*/
/*-- skills --*/
.skills{
	background: url(../images/6.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.w3_agile_head p:before,.w3_agile_head p:after,.w3_agile_head p span:before,.w3_agile_head p span:after{
    background: #fff;
}
.w3_agile_head h5 span{
	color:#fff;

}
.w3layouts_skills_grids{
	margin:3em 0 0;
}
.w3ls_about_guage {
    text-align: center;
}
.w3ls_about_guage h4{
    font-size:1em;
	color:#fff;
}
/*-- //skills --*/
/*-- featured-services --*/
.w3_featured_services_right img{
	margin:0 auto;
}
.w3_featured_services_left_gridr h4{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	letter-spacing:2px;
}
.w3_featured_services_left_gridr p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.hi-icon {
	display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color:#fb5710;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: FontAwesome;
    speak: none;
    font-size: 2em;
    line-height: 2.7em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow:0 0 0 3px #e4e4e4;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9a {
    text-align: center;
}
/* Effect 9a */
.w3_featured_services_left_grid:hover .hi-icon-effect-9a .hi-icon:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.w3_featured_services_left_grid:hover .hi-icon-effect-9a .hi-icon{
	box-shadow: 0 0 0 5px rgb(236, 236, 236);
    color: #212121;
}
.w3_featured_services_left_grid{
	margin-top:3em;
}
/*-- //featured-services --*/
/*-- newsletter --*/
.newsletter {
    background: url(../images/footer4.jpg) no-repeat 0px 0px;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	position:relative;
}
.w3l_newsletter_form form{
	padding: 2em;
    background:rgba(255, 255, 255, 0.47);
}
.w3l_newsletter_form input[type="text"],.w3l_newsletter_form input[type="email"]{
	outline: none;
    padding: 12px;
    color: #212121;
    background: #fff;
    font-size: 14px;
    border: none;
    width: 32.9%;
    font-weight: 600;
}
.w3l_newsletter_form input[type="submit"]{
	outline: none;
    padding: 12px 0;
    color: #fff;
    background:green;
    font-weight: 600;
    font-size: 14px;
    border: none;
    width: 33.33%;
}
.w3l_newsletter_form input[type="submit"]:hover{
	background:#fb5710;
}
.w3ls_newsletter_social{
	margin:0.5em 0 0;
	text-align:center;
}
.w3ls_newsletter_social ul li a{
	color:yellow;
}
.w3ls_footer_grid_leftl{
	float: left;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    background:green;
    border: 2px solid #fff;
}
.w3ls_footer_grid_leftl i{
	color: #fff;
    font-size: 1em;
    line-height:3.2em;
}
.w3ls_footer_grid_leftr{
	float:right;
	width:75%;
}
.w3ls_footer_grid_leftr h4{
	font-size: 1.2em;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: .5em;
}
.w3ls_footer_grid_leftr p{
	color:#FFFFFF;
	line-height:1.5em;
}
.w3ls_footer_grid_leftr a{
	color:#fff;
	text-decoration:none;
	font-size:14px;
}
.w3ls_footer_grid_leftr a:hover{
	color:yellow;
}
.w3l_footer_pos{
	position:absolute;
	padding:1em;
	left:0%;
	bottom:0%;
	width:100%;
	background:rgba(255, 255, 255, 0.18);
}
.w3l_footer_pos p{
	text-align:center;
	color:#fff;
	line-height:1.8em;
}
.w3l_footer_pos p a{
	color:#21d0e7;
	text-decoration:underline;
}
.w3l_footer_pos p a:hover{
	color:#fff;
}
.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftl{
	background:#fff;
}
.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftl i{
	color:#212121;
}
.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftr h4{
	color:yellow;
}
.w3ls_footer_grid {
    margin:4em 0 5em;
}
/*-- //newsletter --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- properties --*/
.agileits_properties_banner{
	margin:3em 0 0;
	text-align:right;
}
.agileits_properties_banner h2{
	font-size:1.8em;
	color:#212121;
}
/*-- //properties --*/
/*-- about --*/
.agileinfo_about_left h4{
	font-size: 1.2em;
    letter-spacing: 3px;
    color: #212121;
    text-transform: capitalize;
    line-height: 1.8em;
}
.agileinfo_about_left p{
	margin:2em 0 0;
	color:#999;
	line-height:2em;
}
.agileinfo_about_left p i{
	color: #fb5710;
    display: block;
    margin: 1em 0;
    font-weight: 600;
}
/*-- //about --*/
/*-- team --*/
.agile_team_grid h4{
	margin:1em 0 .5em;
	color:#fff;
	font-size: 1.1em;
}
.agile_team_grid p{
	color:#21d0e7;
}
.agileits_w3layouts_team_grid{
    position: relative;
    overflow: hidden;
}
.agile_team_grid:hover .agileits_w3layouts_team_grid img{
    opacity:0.8;
}
.agile_team_grid{
	text-align:center;
}
.agileits_w3layouts_team_grid{
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.agileits_w3layouts_team_grid img,.agileits_w3layouts_team_grid_pos{
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.agileits_w3layouts_team_grid_pos{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: -150px auto 0;
    opacity: 0;
}
.agile_team_grid:hover .agileits_w3layouts_team_grid_pos{
    margin: 0 auto 0;
    opacity: 1;
}
.agileits_w3layouts_team_grid_pos ul li a{
	color:#fff;
}
/*-- //team --*/
/*-- stats --*/
.w3_agileits_stats_grid{
	padding:2em;
	background:#f5f5f5;
	box-shadow:0px 1px 3px #cecece;
	text-align:center;
}
.w3_agileits_stats_grid h3{
	font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 2px;
	margin:2em 0;
}
.w3_agileits_stats_grid i{
	font-size:1.5em;
}
.w3_agileits_stats_grid .fa-users,.w3_agile_counter{
	color:#10b5fb;
}
.w3_agileits_stats_grid p{
	font-size:2em;
	font-weight:bold;
}
.w3_agileits_stats_grid .fa-trophy,.w3_agile_counter1{
	color:#e72121;
}
.w3_agileits_stats_grid .glyphicon-thumbs-up,.w3_agile_counter2{
	color:#a821e7;
}
.w3_agileits_stats_grid .fa-line-chart,.w3_agile_counter3{
	color:#fb5710;
}
/*-- //stats --*/
/*-- mail --*/
/*-- effect --*/
.input {
	position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0em 1.7em 1em 0;
    width: 350px;
    vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #212121;
    font-weight: bold;
    font-size: 14px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Chisato */

.input--chisato {
	padding-top: 1.5em;
}

.input__field--chisato {
	width: 100%;
	padding:.9em 0.5em;
	background: transparent;
	border: 2px solid green;
	color: #212121;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.input__label--chisato {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: left;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	-webkit-transform:translate3d(0, 2.9em, 0);
	transform:translate3d(0, 2.9em, 0);
}

.input__label-content--chisato {
	padding: 0 1em;
	font-weight: 400;
	color: #999;
}

.input__label-content--chisato::after {
	content: attr(data-content);
    position: absolute;
    top: -200%;
    left: 0;
    color: #fb5710;
    font-weight: 600;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
	border-color:#fb5710;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
	-webkit-animation: anim-chisato-1 0.25s forwards;
	animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
	-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
	animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}
/*-- //effect --*/
.agileinfo_mail_grids textarea {
    outline: none;
    background:none;
    border:2px solid #b5b5b5;
    font-size: 14px;
    color: #212121;
    width:97.5%;
    padding:.9em 0.5em;
	margin: 2em 0;
    min-height: 200px;
}
.agileinfo_mail_grids textarea:focus {
    border-color:#fb5710;
}
.agileinfo_mail_grids input[type="submit"]{
    outline: none;
    background:green;
    border: none;
    font-size: 14px;
    color: #fff;
    width: 30%;
    padding:1em 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.agileinfo_mail_grids input[type="submit"]:hover{
	background:yellow;
    border:2px solid green;
    color:green;

}
 #map {
	width: 100%;
	min-height: 500px;
}
/*-- //mail --*/
/*-- icons --*/
.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
}
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color: #21d0e7 !important;
    margin: 30px 0 15px;
	font-weight: 400;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box {
		width:33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width:736px){
	.icon-box {
		float: left;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.w3_agileits_icons_page {
		margin:0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.grid_3.grid_4.w3layouts {
    margin: 0 !important;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#21d0e7;
    font-weight: 400;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:800px){
	.grid_3.grid_5.w3ls,.grid_3.grid_5.w3l,.grid_3.grid_5.agileits,.grid_3.grid_5.agileinfo,.grid_3.grid_5.wthree {
		margin: 0;
	}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.w3_agileits_section_room,.bath {
		width: 47.7%;
	}
	.banner {
		min-height: 645px;
	}
}
@media (max-width:1366px){
	.w3_banner_bottom_pos {
		right: 8%;
		width: 31%;
	}
}
@media (max-width: 1280px){
	.w3_banner_bottom_pos {
		right: 5%;
		width: 33%;
	}
}
@media (max-width: 1080px){
	.navbar-nav > li > a {
		padding: .7em 1em;
	}
	.w3_agileits_search_form input[type="search"] {
		width: 83.5%;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 11px 11px #f5f5f5;
	}
	.navbar-nav {
		margin: 0.2em 0 0;
	}
	.w3_banner_bottom_pos {
		right: 6%;
		width: 40%;
	}
	.banner {
		min-height: 530px;
	}
	.w3layouts_banner_bottom_left h3 {
		font-size: 1.1em;
	}
	.wthree_service_text h3 {
		font-size: 1.05em;
		letter-spacing: 1px;
	}
	.services, .skills, .newsletter {
		padding: 4em 0;
	}
	.w3_featured_services_left {
		padding: 0;
	}
	.agileits_services_grid3, .agileits_services_grid4 {
		min-height: 300px;
	}
	.w3l_newsletter_form input[type="text"], .w3l_newsletter_form input[type="email"],
	.w3l_newsletter_form input[type="submit"]{
		width: 33%;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 200px;
	}
	.agileinfo_about_left {
		padding: 0;
	}
	.agileinfo_about_left h4 {
		font-size: 1.1em;
	}
	.w3_agileits_stats_grid {
		padding: 2em 1em;
	}
	.input.input--chisato:nth-child(3) {
		margin-right: 0 !important;
	}
	.input {
		width: 292px;
	}
	.agileinfo_mail_grids textarea {
		width: 99.8%;
	}
	#map {
		min-height: 400px;
	}
}
@media (max-width: 1024px){
	.w3_agileits_section_room, .bath {
		width: 47.6%;
	}
	.w3_banner_bottom_pos {
		right: 4%;
	}
	.agileinfo_services_grid_pos {
		bottom: -13%;
	}
}
@media (max-width: 991px){
	.agileits_w3layouts_header_address_grid ul li:nth-child(2), .agileits_w3layouts_header_address_grid ul li:nth-child(3) {
		font-size: 1.3em;
	}
	.navbar-nav > li > a {
		padding: .5em 0.6em;
		font-size: 13px;
	}
	.w3_agile_nav a {
		margin: 0 .2em;
	}
	.w3_agileits_search_form {
		width: 36%;
	}
	.w3_agileits_search_form input[type="search"] {
		width: 83.4%;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 9px 11px #f5f5f5;
	}
	.w3_agileits_section_room, .bath {
		width: 47.5%;
	}
	.w3layouts_banner_bottom_left {
		float: left;
		width: 58%;
		padding-left: 0;
	}
	.w3layouts_header p {
		font-size: 1.5em;
	}
	.w3l_services_grid {
		float: left;
		width: 50%;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 225px;
	}
	.agileinfo_services_grid_pos,.agile_services_grid_pos2, .agile_services_grid_pos3 {
		bottom: -13% !important;
		left: 42% !important;
	}
	.w3ls_about_guage {
		float: left;
		width: 50%;
	}
	.w3ls_about_guage:nth-child(2) {
		margin-bottom: 2em;
	}
	.w3_featured_services_left_grid {
		margin-top: 0;
		padding-top: 2em;
	}
	.w3_featured_services_left_gridr {
		margin: 1em 0 0;
	}
	.w3l_newsletter_form input[type="text"], .w3l_newsletter_form input[type="email"], .w3l_newsletter_form input[type="submit"] {
		width: 32.9%;
	}
	.w3ls_footer_grid_left {
		float: left;
		width: 33.33%;
	}
	.w3ls_footer_grid_leftl {
		float: none;
		margin: 0 auto 1em;
	}
	.w3ls_footer_grid_leftr {
		float: none;
		width: 100%;
		text-align: center;
	}
	.w3ls_footer_grid {
		margin: 3em 0 4em;
	}
	.agileinfo_about_right {
		margin: 2em 0 0;
	}
	.agileinfo_about_right img{
		margin:0 auto;
	}
	.agile_team_grid {
		float: left;
		width: 25%;
	}
	.wthree_stats_grid {
		float: left;
		width: 50%;
	}
	.wthree_stats_grid:nth-child(2){
		margin-bottom:2em;
	}
	.input {
		width: 219px;
	}
	.agileits_w3layouts_header_address_grid ul li:nth-child(1) {
		margin: 0.6em 0 0;
	}
}
@media (max-width: 900px){
	.w3_banner_bottom_pos {
		width: 45%;
		padding: 1.5em;
		right: 3%;
	}
	.w3_agileits_section_room, .bath {
		width: 47.3%;
	}
	.w3_banner_bottom_pos h2 {
		font-size: 1em;
		margin-bottom: 1em;
		letter-spacing: 3px;
	}
	.w3_banner_bottom_pos select,input.text_box {
		font-size: 13px;
	}
	.w3_banner_bottom_pos h4 {
		font-size: .7em;
	}
	input#amount,.w3_banner_bottom_pos input[type="submit"] {
		font-size: 14px;
	}
	.banner {
		min-height: 450px;
	}
	.w3layouts_banner_bottom_left h3 {
		font-size: 1em;
	}
	.w3layouts_banner_bottom_left {
		width: 52%;
	}
	.banner-bottom {
		padding: 2em 0;
	}
}
@media (max-width: 768px){
	.w3_agileits_section_room, .bath {
		width: 47.2%;
	}
	.input__field--chisato {
		padding: .6em 0.5em;
	}
	.input__label--chisato {
		-webkit-transform: translate3d(0, 2.6em, 0);
		transform: translate3d(0, 2.6em, 0);
	}
	.input {
		width: 231px;
		margin: 0em .5em 1em 0;
	}
	.agileinfo_mail_grids textarea {
		margin: 1em 0;
	}
	.agileinfo_mail_grids input[type="submit"] {
		padding: 0.8em 0;
	}
	#map {
		min-height: 350px;
	}
	.w3_banner_bottom_pos {
		right: 2%;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color:green;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:white;
	}
	.navbar-toggle {
		float: none;
		margin: 1em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		border: thick;
        border-color: #fff;
	}
	.navbar-header.navbar-left {
		text-align: center;
	}
	.navbar-nav {
		margin: 0;
		padding: 1em 0;
		background:green;
		text-align: center;
	}
	.w3_agile_nav a {
		margin: .3em 0;
	}
	.navbar-nav > li > a {
		display: inline-block;
		width: 30%;
		padding:.5em 0em;
	}
	.w3_banner_bottom_pos {
		width: 100%;
		padding: 1em;
		right: 0;
	}
	.w3_agileits_section_room, .bath {
		width: 48.8%;
	}
	.banner{
		position:inherit;
		min-height: 370px;
	}
	.w3layouts_banner_bottom_left {
		width: 100%;
		float: none;
		padding:0 1em 2em;
	}
	.w3_agileits_search_form {
		width: 100%;
		float: none;
		margin: 0 auto;
		background:green;
		padding-bottom: 1em;
	}
	.w3_agileits_search_form form{
		width:70%;
		margin:0 auto;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: green;
	}
	.banner-bottom {
		padding:2em 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.navbar-right {
		margin: 0.5em 0 0;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 29px 11px #f5f5f5;
	}
	.w3_banner_bottom_pos {
		position: inherit;
	}
}
@media (max-width: 736px){
	.services, .skills, .newsletter {
		padding: 3em 0;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 210px;
	}
	.w3layouts_featured_services_grids {
		margin: 1em 0 0 !important;
	}
	.w3l_newsletter_form form {
		padding: 1.5em;
	}
	.w3_agileits_section_room, .bath {
		width: 48.7%;
	}
	.agileits_properties_banner h2 {
		font-size: 1.5em;
	}
	.banner1 {
		min-height: 150px;
	}
	.agileits_properties_banner {
		margin: 2em 0 0;
	}
	.input {
		width: 221px;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 25px 11px #f5f5f5;
	}
}
@media (max-width: 667px){
	.banner {
		min-height: 320px;
	}
	.w3_banner_bottom_pos {
		bottom: -27.5%;
	}
	.w3l_newsletter_form input[type="text"], .w3l_newsletter_form input[type="email"], .w3l_newsletter_form input[type="submit"] {
		width: 32.8%;
	}
	.w3ls_footer_grid {
		margin: 2em 0 5em;
	}
	.w3_agileits_section_room, .bath {
		width: 48.6%;
	}
	.agile_team_grid {
		width: 50%;
	}
	.agile_team_grid:nth-child(2){
		margin-bottom:2em;
	}
	.input {
		width: 198px;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 22px 11px #f5f5f5;
	}
}
@media (max-width: 640px){
	.w3_agileits_section_room, .bath {
		width: 48.5%;
	}
	.w3layouts_header h5 {
		margin: 0.7em 0 0;
		font-size: 1.4em;
		letter-spacing: 2px;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 175px;
	}
	.wthree_service_text {
		padding: 2.5em 1em 2em;
	}
	.w3_featured_services_left_gridr {
		margin: 0.5em 0 0;
	}
	.agileinfo_mail_grids {
		margin: 2em 0 0 !important;
	}
	.input {
		width: 189px;
	}
	.agileinfo_mail_grids textarea {
		width: 99.6%;
	}
	#map {
		min-height: 300px;
	}
}
@media (max-width: 600px){
	.w3_agileits_section_room, .bath {
		width: 48.4%;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 170px;
	}
	.w3l_newsletter_form input[type="text"], .w3l_newsletter_form input[type="email"], .w3l_newsletter_form input[type="submit"] {
		width: 32.7%;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 19px 11px #f5f5f5;
	}
	.input {
		width: 176px;
	}
}
@media (max-width: 568px){
	.w3_agile_logo h1 a {
		font-size: .3em;
		background: url(../images/home.png) no-repeat 15px 0px;
		background-size: 18%;
	}
	.agileits_w3layouts_header_address_grid ul li:nth-child(2), .agileits_w3layouts_header_address_grid ul li:nth-child(3) {
		font-size: 1.1em;
	}
	.agileits_w3layouts_header_address_grid ul li:nth-child(1) {
		margin: 0.4em 0 0;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 17px 11px #f5f5f5;
	}
	.w3_agileits_section_room, .bath {
		width: 48.3%;
	}
	.services, .skills, .newsletter {
		padding: 2em 0;
	}
	.w3layouts_header p {
		font-size: 1.3em;
	}
	.wthree_service_text h3 {
		font-size: 1em;
		letter-spacing: 0px;
	}
	.agileinfo_about_left h4 {
		font-size: 1em;
		letter-spacing: 2px;
	}
	.input {
		width: 165px;
	}
	.agileinfo_mail_grids input[type="submit"] {
		width: 40%;
	}
}
@media (max-width: 480px){
	.banner {
		min-height: 280px;
	}
	.w3_agileits_search_form form {
		width: 80%;
	}
	.w3_agileits_section_room, .bath {
		width: 48%;
	}
	.w3layouts_header h5 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.w3l_services_grid {
		float: none;
		width: 100%;
	}
	.agileinfo_services_grid_pos, .agile_services_grid_pos2, .agile_services_grid_pos3 {
		bottom:-10% !important;
		left: 45% !important;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 265px;
	}
	#gauge1,#gauge2,#gauge3,#gauge4 {
		width: 150px;
	}
	.w3ls_about_guage h4 {
		font-size: .9em;
	}
	.w3_featured_services_left_gridr h4 {
		letter-spacing: 1px;
		font-size: .9em;
	}
	.hi-icon {
		width: 70px;
		height: 70px;
	}
	.hi-icon:before {
		font-size: 1.5em;
		line-height: 2.9em;
	}
	.w3_featured_services_right {
		width: 75%;
		margin: 2em auto 0;
	}
	.w3l_newsletter_form input[type="text"], .w3l_newsletter_form input[type="email"], .w3l_newsletter_form input[type="submit"] {
		width: 100%;
	}
	.w3l_newsletter_form input[type="email"]{
		margin:1em 0;
	}
	.w3layouts_skills_grids {
		margin: 2em 0 0;
	}
	.w3ls_footer_grid_left {
		float: none;
		width: 100%;
	}
	.w3ls_footer_grid_left:nth-child(2){
		margin:1em 0;
	}
	.w3ls_footer_grid_leftr h4 {
		font-size: 1em;
	}
	.agileits_properties_banner h2 {
		font-size: 1.3em;
	}
	.banner1 {
		min-height: 130px;
	}
	.agile_team_grid h4 {
		font-size: 1em;
	}
	.w3_agileits_stats_grid h3 {
		font-size: .9em;
		letter-spacing: 1px;
		margin: 1em 0;
	}
	.w3_agileits_stats_grid p {
		font-size: 1.6em;
	}
	.input {
		width: 100%;
		margin-right: 0;
	}
}

.agileinfo_about_left p {
    margin: 2em 0 0;
    color: black;
    line-height: 2em;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 414px){
	.agileits_w3layouts_header_address_grid ul li:nth-child(2), .agileits_w3layouts_header_address_grid ul li:nth-child(3) {
		font-size: 1em;
	}
	.agileits_w3layouts_header_address_grid ul li:nth-child(1) {
		margin: 0.3em 0 0;
		font-size: 13px;
	}
	.banner {
		min-height: 250px;
	}
	.w3layouts_banner_bottom_left {
		padding: 0 0em 2em;
	}
	.w3layouts_banner_bottom_left h3 {
		font-size: .9em;
	}
	.w3_agileits_section_room, .bath {
		width: 47.6%;
	}
	.w3layouts_header p span:before {
		left: 24%;
	}
	.w3layouts_header p span:after {
		right: 24%;
	}
	.w3layouts_header p span:before, .w3layouts_header p span:after {
		width: 20%;
		height: 1px;
	}
	.w3layouts_header p:before {
		left: 30%;
	}
	.w3layouts_header p:before, .w3layouts_header p:after {
		height: 1px;
		width: 15%;
	}
	.w3layouts_header p:after {
		right: 30%;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 225px;
	}
	.agileinfo_services_grid_pos, .agile_services_grid_pos2, .agile_services_grid_pos3 {
		left: 42% !important;
	}
	.w3ls_footer_grid {
		margin: 2em 0 7em;
	}
	.w3_featured_services_left_gridr {
		margin: 0;
		padding: 0;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 11px 11px #f5f5f5;
	}
	.agileinfo_about_left h4 {
		letter-spacing: 1px;
	}
	.agileinfo_about_left p {
		margin: 1em 0 0;
	}
	.wthree_stats_grid {
		padding: 0 .5em;
	}
	.wthree_stats_grid:nth-child(2) {
		margin-bottom: 1em;
	}
	.navbar-nav > li > a {
		width: 39%;
	}
}
@media (max-width: 384px){
	.w3_agileits_section_room, .bath {
		width: 47.3%;
	}
	.agileits_w3layouts_header_address_grid ul li {
		padding: .5em .7em;
	}
	.agileinfo_services_grid_pos i {
		font-size: 1.2em;
		line-height: 2.4em;
	}
	.agileinfo_services_grid_pos, .agile_services_grid_pos2, .agile_services_grid_pos3 {
		bottom: -13% !important;
	}
	#gauge1, #gauge2, #gauge3, #gauge4 {
		width: 125px;
	}
	.w3_agileits_search_form form {
		width: 90%;
	}
	.wthree_stats_grid {
		float: none;
		width: 90%;
		margin: 0 auto;
	}
	.wthree_stats_grid:nth-child(2) {
		margin: 1em auto;
	}
	.wthree_stats_grid:nth-child(3) {
		margin-bottom: 1em;
	}
}
@media (max-width: 375px){
	.agileits_w3layouts_header_address_grid ul li:nth-child(2), .agileits_w3layouts_header_address_grid ul li:nth-child(3) {
		font-size: .9em;
	}
	.agileits_w3layouts_header_address_grid ul li:nth-child(1) {
		margin: 0.1em 0 0;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 205px;
	}
	.w3_featured_services_left_gridr h4 {
		letter-spacing: 0px;
	}
	.agile_team_grid {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.agile_team_grid:nth-child(2) {
		margin: 2em auto;
	}
	.agile_team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.agileinfo_mail_grids input[type="submit"] {
		width: 100%;
	}
}
@media (max-width: 320px){
	.agileits_w3layouts_header_address_grid ul li:nth-child(2), .agileits_w3layouts_header_address_grid ul li:nth-child(3) {
		font-size: .8em;
	}
	.agileits_w3layouts_header_address_grid ul li {
		padding: .5em .5em;
	}
	.agileits_w3layouts_header_address_grid ul li:nth-child(1) {
		margin: 0;
		font-size: 12px;
	}
	.w3_agile_logo h1 a {
		font-size: .45em;
	}
	.agile_header_social {
		margin: 0.4em 0 0;
	}
	.banner {
		min-height: 230px;
	}
	.navbar-nav > li > a {
		width: 50%;
	}
	.w3_agileits_search_form input[type="search"] {
		width: 83%;
		font-size: 13px;
	}
	.w3_agileits_search_form input[type="submit"] {
		background: url(../images/search.png) no-repeat 7px 11px #f5f5f5;
		padding: 9px 0;
		width: 15%;
	}
	.w3_banner_bottom_pos h2 {
		font-size: .9em;
	}
	.w3_banner_bottom_pos select, input.text_box {
		padding: 8px 10px;
	}
	.w3_agileits_section_room, .bath {
		width: 100%;
		float: none;
	}
	.agileits_w3layouts_book_section_single, .wthree_range_slider {
		margin: 1em 0;
	}
	.bath:nth-child(5), .w3_agileits_section_room:nth-child(2) {
		margin: 1em 0 0;
	}
	input#amount, .w3_banner_bottom_pos input[type="submit"] {
		font-size: 13px;
		letter-spacing: 1px;
	}
	.w3layouts_header p span:before {
		left: 18%;
	}
	.w3layouts_header p span:after {
		right: 18%;
	}
	.w3layouts_header p:before {
		left: 25%;
	}
	.w3layouts_header p:after {
		right: 25%;
	}
	.agileits_services_grid, .agileits_services_grid2, .agileits_services_grid1, .agileits_services_grid3, .agileits_services_grid4, .agileits_services_grid5, .agileits_services_grid6, .agileits_services_grid7 {
		min-height: 155px;
	}
	.agileinfo_services_grid_pos {
		width: 40px;
		height: 40px;
	}
	.agileinfo_services_grid_pos i {
		font-size: 1em;
		line-height: 2.2em;
	}
	.w3_featured_services_left_gridl {
		padding-left: 0;
	}
	p, ul li, ol li,.input__label {
		font-size: 13px;
	}
	.w3_featured_services_left_gridr h4 {
		font-size: .85em;
	}
	.w3_featured_services_right {
		width: 100%;
		margin: 1em 0 0;
	}
	.w3layouts_header h5 {
		font-size: 1.1em;
	}
	.w3l_newsletter_form input[type="text"], .w3l_newsletter_form input[type="email"], .w3l_newsletter_form input[type="submit"] {
		font-size: 13px;
		padding: 9px;
	}
	.w3l_newsletter_form form {
		padding: 1em;
	}
	.agileits_properties_banner h2 {
		font-size: 1.1em;
		color: #fff;
	}
	.agileinfo_about_left h4 {
		letter-spacing: 0px;
		font-size: .9em;
	}
	.input {
		margin: 0 0 .5em;
	}
	.input__label--chisato {
		-webkit-transform: translate3d(0, 2.8em, 0);
		transform: translate3d(0, 2.8em, 0);
	}
	.agileinfo_mail_grids textarea {
		font-size: 13px;
		width: 100%;
		min-height: 150px;
	}
	#map {
		min-height: 250px;
	}
	.navbar-nav {
		padding: 1em 0 0;
	}
}

.w3-card-4{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}
 .card-text {
    font-size: .9rem!important;
    color: #747373!important;
     text-justify: distribute;
}
.card-title {
    margin-bottom: 20px!important;
    margin-top: 30px!important;
    font-family: 'Oswald', sans-serif;
}

.card-body{
    margin-bottom:50px;
}
.card-image{
    height:170px;
    width:360px;
}

.green{
    background-color: green;
}
.gold{
    background-color: gold;
}
.ruby{
    background-color: #9b111e;
}

.platinum{
    background-color: #e5e4e2;
}

.silver{
    background-color: silver;
}
.bronze{
    background-color: #CD7F32;
}
.w3-card{
    padding:20px;
}

.text-white{
    color: white !important;
}

.remake{
    background-color: #76b51b!important; color: white!important;
}
.table-responsive{
    display: block;
}

.currency-conv {
    color:green;
    text-decoration-style: double;
}